<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app='NarrowItDownApp'>
    <div class="container">
         <h1>Narrow Down Your Chinese Menu Choice</h1>
         <!--Controller as Syntax-->
         <div ng-controller='NarrowItDownController as menu'>
            <div class="form-group">
               <input ng-model="menu.searchTerm" type="text" placeholder="search term" class="form-control">
            </div>
            <div class="form-group narrow-button">
               <button class="btn btn-primary" ng-click="menu.search();">Narrow It Down For Me!</button>
            </div>
            <div style="height:50px"></div>
            <div class="emptyMessage">{{menu.nothingFound}}</div>
            <div ng-if="menu.foundItems.length">No. of Items Found {{ menu.foundItems.length }} </div>
            <found-items
               items="menu.foundItems" title="{{menu.foundItems}}"   on-remove="menu.removeItem(index)"></found-items>
         </div>
      </div>


  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
